<div class ="panel panel-default">
  <div class="panel-heading">
    <h1>Services</h1>
    <button type="button" class="btn btn-default btn-xs"><a href="services/new">Create new Service</a></button>
    <br>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
        <tr>
          <th>Name</th>
          <th>Action</th>
        </tr>
        <%@services.each do |service| %>

        <tr>
          <td><%= service.name %></td>
          <td><%= link_to "View", service_path(service.id), :class=>"btn btn-info"%></td>
        </tr>   
      <%end %>
    </table>
  </div>
</div>