<div class ="panel panel-default" ng-app="app"> 
  <div class="panel-heading">
    <h1>Customers</h1>
    <button type="button" class="btn btn-default btn-xs"><a href="customers/new">Add new customer</a></button>
     Filter <input type="Search" ng-model="query  ">
    
  </div>
  <div class = "panel panel-body" ng-controller="customersCtrl">
    <ul class="pager">
      <li class="previous" ng-click="next('prev')"><a href="">&larr; Previous Page</a></li>
      <li>
      <label class="label label-info">Page: {{ page }}</label>
      <li class="next" ng-click="next('next')"><a href="">Next Page &rarr;</a></li>
    </ul>
    <table class="table table-condensed">
      <tr>
        <th ng-click="predicate = 'last_name'; reverse=!reverse">Name</th>
       <th ng-click="predicate = 'email'; reverse=!reverse">Email</th>
        <th ng-click="predicate = 'city'; reverse=!reverse">City</th>
        <th>Action</th>
      </tr>
      <tr ng-repeat="customer in customers | orderBy:predicate:reverse | filter:query">
        <td>{{customer.first_name}} {{customer.last_name}}</td>
        <td>{{customer.email}}</td>
        <td>{{customer.city}}</td>
        <td><a href="/customers/{{customer.id}}" ><button class= "btn btn-info">Update Employee </button></a></td>
    
      </tr>

    <table>
  </div>
</div>