<h1>Customers</h1> 
<button type="button" class="btn btn-default btn-xs"><a href="customers/new">Add new customer</a></button>
<br>
<br>
<table class="table table-striped">
  <tr>
    <th> First Name</th>
    <th>Last Name</th>
    <th>Action</th>
  </tr>
  <% @customers.each do |customer| %>
 
    <tr>
      <td><%= customer.first_name  %></td>
      <td><%= customer.last_name %></td>
      <td><%= link_to "View Customer", customer_path(customer.id), :class => "btn btn-info" %></td>
    </tr>
  <% end %>
<table>