// Place all the styles related to the employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile-circular {
width: 200px;
height: 200px;
background-image: url('img/profile/27336.jpg');
background-size: cover;
display: block;
border-radius: 100px;
-webkit-border-radius: 100px;
-moz-border-radius: 100px;
}

.profile-circular-mask {
display: inline-block;
width: 150px;
height: 150px;
border-radius: 50%;
overflow: hidden;
}

.profile-circular-mask img {
max-width: 100%;
}